body {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  transition: background 0.5s, color 0.5s;
  background: #FFF;
}

canvas {
  margin-top: 5px;
  border: 2px solid #008;
  box-shadow: 0 0 20px #000;
  transition: background 0.5s, border 0.5s, box-shadow 0.5s;
  background: #DDD;
}

h1, p {
  color: #008;
  transition: color 0.5s;
}
